<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>
    <h1>{{pagina}}</h1>
    <h2>equipo {{equipo.nombre}}</h2>
    <h3>usuario {{usuario.nombre}}</h3>
    <div class="row">
        <div class="col-md-5" style="background: red;">
        <div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
            <b>USUARIOS</b>
            <div id="users"></div>
        </div>
        <div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px; color: black;">
            <div id="conversation" style="background: white;"></div>
            <input id="data" style="width:200px;" />
            <input type="button" id="datasend" value="send" />
        </div>
    </div>
    <div class="col-md-7" style="background: aqua;">
        
    </div>
    </div>

</body>

</html>