<!DOCTYPE html>
<html lang="en" ng-app="appcolaborate">

<head>
    <meta charset="UTF-8">
    <title></title>
  
</head>

<body>
    <nav>
        <h1>{{pagina}}</h1>
    </nav>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
        	<form action="" ng-submit="iniciarSesion()" ng-show="seeLogin">
            <div class="form" >
            	<div class="form group">
            		<img ng-src="http://www.foretica.org/wp-content/uploads/2016/09/Dise%C3%B1o-sin-t%C3%ADtulo-12.png" alt="" class="img-responsive">
            	</div>
                <div class="form-group">
                    <label for="">Correo:</label>
                    <input type="text" class="form-control" ng-model="usuario.correo" placeholder="escribe tu correo">
                </div>
                <div class="form-group">
                    <label for="">Contrasena:</label>
                    <input type="password" class="form-control" ng-model="usuario.contrasena" placeholder="escribe tu contrasena">
                </div>
                <div class="form-group row">
                    <div class="col-md-3 pull-left">
                        <span>si no estas Registrado<a ng-click="showRegister()">registrate</a>.</span>
                    </div>
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-success">Iniciar Sesion</button>
                    </div>
                </div>
            </div>
            </form>
            <!--form register-->
            <form action="" ng-submit="registrarse()" ng-hide="seeLogin">
            <div class="form" >
                <div class="form-group">
                    <img ng-src="https://ayudawp.com/wp-content/uploads/2014/02/usuario-registrado.jpg" alt="" class="img-responsive img-circle" style="width: 180px; height:180px; margin: 0 auto;">
                    <label for="">Imagen:</label>
                    <input type="text" class="form-control" ng-model="usuario.imagen" placeholder="url de iamgen">
                </div>
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text" class="form-control" ng-model="usuario.nombre" placeholder="escribe tu nombre">
                </div>
                <div class="form-group">
                    <label for="">Correo:</label>
                    <input type="text" class="form-control" ng-model="usuario.correo" placeholder="escribe tu correo">
                </div>
                <div class="form-group">
                    <label for="">contrasena:</label>
                    <input type="password" class="form-control" ng-model="usuario.contrasena" placeholder="escribe tu contrasena">
                </div>
                <div class="form-group row">
                    <div class="col-md-3 pull-left">
                        <span>si estas Registrado<a ng-click="showRegister()">Logueate</a>.</span>
                    </div>
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-primary">Registrarse</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</body>