<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>{{pagina}}</h1>
    <div class="row">
        <div class="col-md-4">
            <form name="multipleSelectForm" novalidate>
                <div ng-class="{'has-error' : multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty, 'has-success' : !multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty}">
                    <label>users list for integrem in teams</label>
                    <multiple-autocomplete ng-model="selectedList2" object-property="nombre" api-url="{{apiUsers}}" suggestions-arr="">
                    </multiple-autocomplete>
                    <span ng-show="multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty" class="ng-hide">
                <p class="error-msg" ng-show="multipleSelectForm.multipleSelect.$error.required">Please select something from multiple select field</p>
            </span>
                </div>
                <br/>
                <button type="button" class="btn btn-success form-control" ng-click="setMembers()">Agregar Integrante</button>
            </form>
        </div>
        <div class="col-md-8" style="background: #28313A;">
            <div class="panel panel-default" style="margin-top:20px;">
                <div class="panel-body p-t-0">
                    <div class="input-group">
                        <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search" ng-model="searchUser">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="pre-scrollable" style="max-height: 450px;">
                <div ng-repeat="userAux in listaMiembros |filter:searchUser" class="row">
                    <div class="panel" style="margin: 10px; background-color: #1D2733;">
                        <div class="panel-body">
                            <div class="media">
                                <div class="pull-left">
                                    <img ng-src="{{userAux.idusuario.imagen}}" class="img-circle" style="width: 80px;height: 80px;">
                                </div>
                                <div class="info">
                                    <h4>{{userAux.idusuario.nombre}}</h4>
                                    <span>{{userAux.idusuario.imagen}}</span>
                                </div>
                                <div class="pull-right btn-group-sm" style="margin-right: 20px;">
                                    <button ng-click="borrarMiembro(userAux._id)" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="fa fa-close" ></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
