<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="row">
        <h3>crud {{pagina}}</h3>
        <div class="col-md-4">
            <form ng-submit="setTeam()" style="margin: 20px;">
                <div class="form-group">
                    <label for="">nombre:</label>
                    <input type="text" class="form-control" ng-model="equipo.nombre">
                </div>
                <div class="form-group">
                    <label for="">imagen:</label>
                    <input type="text" class="form-control" ng-model="equipo.imagen">
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success" value="guardar">
                </div>
            </form>
        </div>
        <div class="col-md-8" style="background: #28313A;">
            <div class="panel panel-default" style="margin-top:20px;">
                <div class="panel-body p-t-0">
                    <div class="input-group">
                        <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search" ng-model="searchTeam">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div style="max-height: 450px; overflow-y: scroll;">
                <div ng-repeat="teamAux in equipos |filter:searchTeam" class="row">
                    <div class="panel" style="margin: 10px; background-color: #1D2733;">
                        <div class="panel-body">
                            <div class="media">
                                <div class="pull-left">
                                    <img ng-src="{{teamAux.idequipo.imagen}}" class="img-circle" style="width: 80px;height: 80px;">
                                </div>
                                <div class="info">
                                    <h4>{{teamAux.idequipo.nombre}}</h4>
                                    <span>{{teamAux.idequipo.imagen}}</span>
                                </div>
                                <div class="pull-right btn-group-sm" style="margin-right: 20px;">
                                    <a href="{{teamAux.idequipo._id}}" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-close"></i></a>
                                    <a href="{{teamAux.idequipo._id}}" class="btn btn-warning tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a ng-click="addMembersView(teamAux.idequipo._id)" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="add"><i class="fa fa-plus"></i></a>
                                    <a ng-click="sendBoardView(teamAux.idequipo)" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="abrir"><i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>