body{
	background-color:#1D2733;
	color:white;
}
nav{
	background-color: #373F46;
}
form{
	border: 1px solid white;
	padding: 20px;
	-webkit-box-shadow: 0px 3px 32px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 32px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 32px -11px rgba(0,0,0,0.75);
}